/*
Color pallete:
    background: #18191A
    card: #242526
    hover color: #3A3B3C
    primary text: #E4E6EB
    secondary text: #B0B3B8
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0
}

h1 {
    text-align: center;
}

html {
    background-color: black;
    color: #E4E6EB;
    
}

body {
    background-color: #18191A;
    border-left: solid 1px #3A3B3C;
    border-right: solid 1px #3A3B3C;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.table-of-contents,
.paragraph {
    padding: 8px;
    margin-bottom: 32px;
    border-radius: 8px;
}
hr {
    margin: 16px 0;
}
p {
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 8px 0 8px 0;
}

.paragraph {
    background-color: #242526
}

.table-of-contents {
    background-color: #242526;
    color: #E4E6EB;
}

img {
    height: auto;
    width: 350px;
}

a:link {
    color: #E4E6EB;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: #E4E6EB;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #B0B3B8;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #B0B3B8
    background-color: transparent;
    text-decoration: underline;
  }
