.odd {
    background-color: 	#FA8072;
    font-family: Verdana, "DejaVu Sans", sans-serif
}
.adjust-font-size {
    font-size: 24px;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(0, 250, 0);
}

.dynamo-dresden,
.black-white {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.dynamo-dresden {
    background-color: yellow;
    color: black;
}

.black-white {
    background-color: black;
    color: white;
}